h2{
    display: inline-block;
margin-right: 10%
}
li{

    display: inline-block;
    list-style-type:none;
    padding: 40px;

}
ul{
    display: inline-block;
}
.image{
    width: 800px;
    height: 600px;
    background-image:url("./2.jpg") ;
    background-size:cover;
}
